@import "global.css";

.container {
  display: grid;
  grid-template-rows: minmax() 100px max-content minmax(200px, max-content) 50px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd "
    "tt tt tt tt tt tt tt tt"
    "fe fe fe fe fe fe fe fe"
    "mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft";
}

.title {
  grid-area: tt;
}

.label {
  font-weight: bold;
}

.feature {
  grid-area: fe;
}

.content {
  grid-area: mn;
}

.author img {
  float: left;
  margin-right: 1em;
  border-radius: 50%;
}

figure {
  float: left;
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

figure img {
  max-width: 100%;
  height: auto;
}

.footer {
  grid-area: ft;
}
